# As funções de download pordem trabalhar com mais de uma chave. Isso ocorre por que, dependendo
# do volume de dados, pode ser necessário o uso de mais de uma chave de api do Youtube
"key_a": "insira sua chave aqui"
"key_b": "insira sua chave aqui"
"key_c": "insira sua chave aqui"
